*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Layout */
html{
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
}


nav{
position: fixed;
right: 20px;
top: 15px;
z-index: 3;


}

.product-1,
.product-2,
.product-3{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    width: 80%;
}

h1{
    text-align: center;
    width: 80%;
}

header a{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 10px 14px;
    font-weight: 900;
    margin: 0 10px 0 10px;
}

#shoes-1,
#shoes-2,
#shoes-3{
    width: 100%;
    height: 100vh;
    position: relative;
}

#shoes-1{
    background-color: red;
    color: yellow;
}

#shoes-2{
    background-color:green;
    color: yellow;
}

#shoes-3{
    background-color: yellow;
    color: green;
  
}
/* / Layout */
